<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Template 1 -->  
		<title>Carrinho de Compras</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!--Template 1-->
	
	<!--Template 2-->
		<meta charset="UTF-8">
		<meta name="description" content="Ogani Template">
		<meta name="keywords" content="Ogani, unica, creative, html">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!--Template 2-->
	
		
	<!--Template 1-->
	<!-- Google Font -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
	<!-- Css Styles -->
		<link rel="stylesheet" href="support\css\open-iconic-bootstrap.min.css">
		<link rel="stylesheet" href="support\css\animate.css">
		<link rel="stylesheet" href="support\css\owl.carousel.min.css">
		<link rel="stylesheet" href="support\css\owl.theme.default.min.css">
		<link rel="stylesheet" href="support\css\magnific-popup.css">
		<link rel="stylesheet" href="support\css\aos.css">
		<link rel="stylesheet" href="support\css\ionicons.min.css">
		<link rel="stylesheet" href="support\css\bootstrap-datepicker.css">
		<link rel="stylesheet" href="support\css\jquery.timepicker.css">  
		<link rel="stylesheet" href="support\css\flaticon.css">
		<link rel="stylesheet" href="support\css\icomoon.css">
		<link rel="stylesheet" href="support\css\style.css">
	<!--Template 1-->
	
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
	
	<!-- Css Styles -->
	<!--<link rel="stylesheet" href="support\csss\bootstrap.min.css" type="text/css">-->
	<link rel="stylesheet" href="support\csss\font-awesome.min.css" type="text/css">
	<link rel="stylesheet" href="support\csss\elegant-icons.css" type="text/css">
	<link rel="stylesheet" href="support\csss\nice-select.css" type="text/css">
	<link rel="stylesheet" href="support\csss\jquery-ui.min.css" type="text/css">
	<link rel="stylesheet" href="support\csss\owl.carousel.min.css" type="text/css">
	<link rel="stylesheet" href="support\csss\slicknav.min.css" type="text/css">
	<link rel="stylesheet" href="support\csss\style.css" type="text/css">
	<!---Template 2-->
	  </head>

  <body class="goto-here">

	<div class="py-3 bg-primary">
    	<div class="container">
    		<div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
	    		<div class="col-lg-12 d-block">
		    		<div class="row d-flex">
		    			<div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
						    <span class="text">+ 1235 2355 98</span>
					    </div>
					    <div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
						    <span class="text">youremail@email.com</span>
					    </div>
					    <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
						    <span class="text">3-5 Business days delivery &amp; Free Returns</span>
					    </div>
				    </div>
			    </div>
		    </div>
		  </div>
		</div>
	</div>	
	<!--END Top bar-->

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	<!----     <a class="navbar-brand" href="">Vegefoods</a>

	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>	-->

		 <!-- Barra de pesquisa-->
	<!----  <div class="hero__search">
			<div class="hero__search__form">
				<form action="#">
					<input type="text" placeholder="What do yo u need?">
					<button type="submit" class="site-btn">SEARCH</button>
				</form>
			</div>
		</div>	-->
				 <!-- Barra de pesquisa-->


	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li>
	          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categorias</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
              	<a class="dropdown-item" href="shop.html">Arte</a>
              	<a class="dropdown-item" href="wishlist.html">Banda Desenhada</a>
                <a class="dropdown-item" href="product-single.html">Ciências</a>
                <a class="dropdown-item" href="cart.html">Ciências Económicas</a>
                <a class="dropdown-item" href="checkout.html">Literatura</a>
              </div>
            </li>
	          <li class="nav-item"><a href="about.html" class="nav-link">Editoras</a></li>
	          <li class="nav-item"><a href="blog.html" class="nav-link">Escritores</a></li>
	          <li class="nav-item"><a href="contact.html" class="nav-link">Login</a></li>
	          <li class="nav-item cta cta-colored"><a href="cart.html" class="nav-link"><span class="icon-shopping_cart"></span>[0]</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->


<div class="hero-wrap hero-bread" style="background-image: url(support/images/bg_1.jpg);">
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Cart</span></p>
				<h1 class="mb-0 bread">My Cart</h1>
			</div>
		</div>
	</div>
</div>

<section class="ftco-section ftco-cart">

	<div class="container">
		<div class="row">
			<div class="col-md-12 ftco-animate">
				<div class="cart-list">
					<table class="table">
						<thead class="thead-primary">
							<tr class="text-center">
								<th>&nbsp;</th>
								<th>&nbsp;</th>
								<th>Product name</th>
								<th>Price</th>
								<th>Quantity</th>
								<th>Total</th>
							</tr>
						</thead>
						<tbody>
							<tr class="text-center">
								<td class="product-remove"><a href="#"><span class="ion-ios-close"></span></a></td>

								<td class="image-prod">
									<div class="img" style="background-image: url(support/images/product-3.jpg);"></div>
								</td>

								<td class="product-name">
									<h3>Bell Pepper</h3>
									<p>Far far away, behind the word mountains, far from the countries</p>
								</td>

								<td class="price">$4.90</td>

								<td class="quantity">
									<div class="input-group mb-3">
										<input type="text" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
									</div>
								</td>

								<td class="total">$4.90</td>
							</tr><!-- END TR-->

							<tr class="text-center">
								<td class="product-remove"><a href="#"><span class="ion-ios-close"></span></a></td>

								<td class="image-prod">
									<div class="img" style="background-image:url(support/images/product-4.jpg);"></div>
								</td>

								<td class="product-name">
									<h3>Bell Pepper</h3>
									<p>Far far away, behind the word mountains, far from the countries</p>
								</td>

								<td class="price">$15.70</td>

								<td class="quantity">
									<div class="input-group mb-3">
										<input type="text" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
									</div>
								</td>

								<td class="total">$15.70</td>
							</tr><!-- END TR-->
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="row justify-content-end">

			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
				<div class="cart-total mb-3">
					<h3>Estimate shipping and tax</h3>
					<!----	<p>Enter your destination to get a shipping estimate</p>
  						<form action="#" class="info">	-->
					<div class="form-group">
						<label for="">Country</label>
						<input type="text" class="form-control text-left px-3" placeholder="">
					</div>
					<div class="form-group">
						<label for="country">State/Province</label>
						<input type="text" class="form-control text-left px-3" placeholder="">
					</div>
					<div class="form-group">
						<label for="country">Zip/Postal Code</label>
						<input type="text" class="form-control text-left px-3" placeholder="">
					</div>
					</form>
				</div>
				<p><a href="checkout.html" class="btn btn-primary py-3 px-4">Estimate</a></p>
			</div>
			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
				<div class="cart-total mb-3">
					<h3>Cart Totals</h3>
					<p class="d-flex">
						<span>Subtotal</span>
						<span>$20.60</span>
					</p>
					<p class="d-flex">
						<span>Delivery</span>
						<span>$0.00</span>
					</p>
					<p class="d-flex">
						<span>Discount</span>
						<span>$3.00</span>
					</p>
					<hr>
					<p class="d-flex total-price">
						<span>Total</span>
						<span>$17.60</span>
					</p>
				</div>
				<p><a href="checkout.html" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
			</div>
		</div>
	</div>
</section>



<footer class="footer spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="footer__about">
					<div class="footer__about__logo">
						<a href="./index.html"><img src="support\img\logo.png" alt=""></a>
					</div>
					<ul>
						<li>Address: 60-49 Road 11378 New York</li>
						<li>Phone: +65 11.188.888</li>
						<li>Email: hello@colorlib.com</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
				<div class="footer__widget">
					<h6>Useful Links</h6>
					<ul>
						<li><a href="#">About Us</a></li>
						<li><a href="#">About Our Shop</a></li>
						<li><a href="#">Secure Shopping</a></li>
						<li><a href="#">Delivery infomation</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Our Sitemap</a></li>
					</ul>
					<ul>
						<li><a href="#">Who We Are</a></li>
						<li><a href="#">Our Services</a></li>
						<li><a href="#">Projects</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Innovation</a></li>
						<li><a href="#">Testimonials</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-12">
				<div class="footer__widget">
					<h6>Join Our Newsletter Now</h6>
					<p>Get E-mail updates about our latest shop and special offers.</p>
					<form action="#">
						<input type="text" placeholder="Enter your mail">
						<button type="submit" class="site-btn">Subscribe</button>
					</form>
					<div class="footer__widget__social">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-instagram"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-pinterest"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="footer__copyright">
					<div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
					<div class="footer__copyright__payment"><img src="support\img\payment-item.png" alt=""></div>
				</div>
			</div>
		</div>
	</div>
</footer>


<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
		<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
		<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
	</svg></div>


<script src="support\js\jquery.min.js"></script>
<script src="support\js\jquery-migrate-3.0.1.min.js"></script>
<script src="support\js\popper.min.js"></script>
<script src="support\js\bootstrap.min.js"></script>
<script src="support\js\jquery.easing.1.3.js"></script>
<script src="support\js\jquery.waypoints.min.js"></script>
<script src="support\js\jquery.stellar.min.js"></script>
<script src="support\js\owl.carousel.min.js"></script>
<script src="support\js\jquery.magnific-popup.min.js"></script>
<script src="support\js\aos.js"></script>
<script src="support\js\jquery.animateNumber.min.js"></script>
<script src="support\js\bootstrap-datepicker.js"></script>
<script src="support\js\scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="support\js\google-map.js"></script>
<script src="support\js\main.js"></script>

<script>
	$(document).ready(function() {

		var quantitiy = 0;
		$('.quantity-right-plus').click(function(e) {

			// Stop acting like a button
			e.preventDefault();
			// Get the field name
			var quantity = parseInt($('#quantity').val());

			// If is not undefined

			$('#quantity').val(quantity + 1);


			// Increment

		});

		$('.quantity-left-minus').click(function(e) {
			// Stop acting like a button
			e.preventDefault();
			// Get the field name
			var quantity = parseInt($('#quantity').val());

			// If is not undefined

			// Increment
			if (quantity > 0) {
				$('#quantity').val(quantity - 1);
			}
		});

	});
</script>

</body>

</html>